* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    width: 100%;
}

.header {
    background-color: white;
    height: 100px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    box-shadow: 5px 5px 5px gray;
}

.top-header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: end;
}

#search {
    width: 50%;
    height: 40%;
    margin: 10px;
    border: none;
    border-radius: 100px;
    background-color: gray;
}

.profile {
    grid-column: 2 / 3;
    margin-right: 10px;
}

.bottom-header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons > button {
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 100px;
}

.profile-info {
    padding: 10px;
}

.sidebar {
    background-color: aqua;
    height: 100%;
    grid-row: 1 / 3;
    display: grid;
    align-content: space-around;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.main-content {
    background-color: greenyellow;
    height: 400px;
    grid-column: 2 / 3;
}